.trips{
    margin-top: 100px;
    >div:nth-child(1){
        display: flex;
        justify-content: space-between;
        >p{
            border: 1px solid rgb(205, 201, 201);
            width: 200px;
             padding: 10px;
            border-radius: 10px;
             
        }
    }
    >div:nth-child(2){
         padding: 20px;
        gap: 30px;
        display: flex;
        
        
         >div{
            border: 1px solid;
            border-radius: 10px;
            >hr{
                margin: 10px;
            }
            
            >div:nth-child(2){
                display: flex;
             }
            >div:nth-child(1) img{
                width: 335px;
                border-radius: 10px;   
            }
            >div:nth-child(1) p{
               margin-left: 50px;
            }
            >div:nth-child(1) h4{
                margin : 10px;
             }
             >div:nth-child(1) h5{
                text-align: center;
             }
         }
    }
     
     
}
.foot{
    display: flex;
    justify-content: space-between; 
    margin: 10px;
    >p:nth-child(2) span{
        font-size: 20px;
        font-weight: 100px;
    }
}
#circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin-left: 280px;
    margin-top: 220px;
}