.trips {
  margin-top: 100px;
}
.trips > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.trips > div:nth-child(1) > p {
  border: 1px solid rgb(205, 201, 201);
  width: 200px;
  padding: 10px;
  border-radius: 10px;
}
.trips > div:nth-child(2) {
  padding: 20px;
  gap: 30px;
  display: flex;
}
.trips > div:nth-child(2) > div {
  border-radius: 10px;
}
.trips > div:nth-child(2) > div > hr {
  margin: 10px;
}
.trips > div:nth-child(2) > div > div:nth-child(2) {
  display: flex;
}
.trips > div:nth-child(2) > div > div:nth-child(1) img {
  width: 335px;
  border-radius: 10px;
}
.trips > div:nth-child(2) > div > div:nth-child(1) p {
  margin-left: 50px;
}
.trips > div:nth-child(2) > div > div:nth-child(1) h4 {
  margin: 10px;
}
.trips > div:nth-child(2) > div > div:nth-child(1) h5 {
  text-align: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.foot > p:nth-child(2) span {
  font-size: 20px;
  font-weight: 100px;
}

#circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin-left: 280px;
  margin-top: 220px;
}

.travel {
  background-image: url(img/image\ \(5\).png);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}
.travel > div {
  margin: 100px;
}
.travel > div:nth-child(1) button {
  background-color: #EB662B;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  margin-top: 50px;
  color: white;
}
.travel > div > div {
  background-color: white;
  width: 150px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.travel > div > div:nth-child(1) {
  padding: 30px;
}
.travel > div > div:nth-child(1) h1 {
  color: #EB662B;
}
.travel > div > div:nth-child(2) {
  padding: 30px;
  margin-top: 20px;
}
.travel > div > div:nth-child(2) h1 {
  color: #EB662B;
}
.travel > div:nth-child(3) {
  background-color: white;
  width: 400px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 30px;
}
.travel > div:nth-child(3) h1 {
  color: #EB662B;
}

@media (min-width: 1320px) {
  .figma {
    max-width: 1320px;
    margin: auto;
  }
}
.figma {
  display: grid;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

.box div {
  box-sizing: border-box;
}

.destination > .box > h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding: 0;
  margin-top: 5px;
}

.destination > .box {
  width: auto;
  padding-bottom: 19.25px;
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.destination > .box > p {
  position: relative;
  top: -35px;
  left: 1240px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
}

@media (min-width: 1320px) {
  .box {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1920px) {
  .customer_review {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
}
.card_1box {
  margin-top: 45px;
  width: auto;
  display: flex;
  box-sizing: border-box;
  gap: 32px;
}
.card_1box > .card_1s > div {
  width: 190px;
  height: 210px;
  border-radius: 12px;
}
.card_1box > .card_1s > p:nth-of-type(1) {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 4px;
}
.card_1box > .card_1s > p:nth-of-type(2) {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  margin-top: 4px;
  margin-bottom: 0;
  text-align: left;
}

.early_booking {
  margin-top: 105px;
  background-color: #EB662B;
  padding: 50px 50px 50px 50px;
  display: flex;
  justify-content: space-around;
}
.early_booking > h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}
.early_booking > button {
  width: 166.86px;
  height: 62px;
  background: #FFFFFF;
  padding: 17px 35.8px 17px 36px;
  border-radius: 12px;
  border: none;
  margin-left: 686.03px;
  color: #EB662B;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}

.attraction {
  margin-top: 115px;
  display: flex;
  padding-top: 5px;
  flex-direction: column;
}
.attraction > .atttop {
  display: flex;
}
.attraction > .atttop > h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  margin: 0px;
}
.attraction > .atttop > p {
  width: 44.79px;
  height: 28.13px;
  margin-left: 991px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.attraction > .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 45px;
  width: 100%;
  margin-left: 0px;
  row-gap: 30px;
}
.attraction > .grid > div {
  display: flex;
}
.attraction > .grid > div > img {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.attraction > .grid > div > div {
  margin-left: 30px;
  margin-top: 28.38px;
  margin-bottom: 27.62px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.attraction > .grid > div > div > h3 {
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  margin: 0;
}
.attraction > .grid > div > div > p {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0em;
  margin-left: 0;
  margin-top: 4px;
}
.attraction > .grid > div:nth-of-type(1) {
  grid-area: 1/1/2/2;
}
.attraction > .grid > div:nth-of-type(2) {
  grid-area: 2/1/3/2;
}
.attraction > .grid > div:nth-of-type(3) {
  grid-area: 3/1/4/2;
}
.attraction > .grid > div:nth-of-type(4) {
  grid-area: 1/2/2/3;
}
.attraction > .grid > div:nth-of-type(5) {
  grid-area: 2/2/3/3;
}
.attraction > .grid > div:nth-of-type(6) {
  grid-area: 3/2/4/3;
}
.attraction > .grid > div:nth-of-type(7) {
  grid-area: 1/3/2/4;
}
.attraction > .grid > div:nth-of-type(8) {
  grid-area: 2/3/3/4;
}
.attraction > .grid > div:nth-of-type(9) {
  grid-area: 3/3/4/4;
}

.customer_review {
  background-image: url(images/customer\ reviews\ background.png);
  width: auto;
  margin-top: 105px;
  box-sizing: border-box;
  padding: 120px 300px 120px 300px;
  background-position: center;
}
.customer_review .box {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 16.99px;
}
.customer_review .box > h2 {
  margin-top: 0;
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: center;
}
.customer_review .box > div {
  display: flex;
  flex-direction: column;
  padding-left: 12.8px;
  padding-right: 12.61px;
  position: relative;
}
.customer_review .box > div > .reviewimage {
  display: flex;
  justify-content: center;
}
.customer_review .box > div > .reviewimage > img:nth-of-type(1) {
  width: 46px;
  height: 46px;
  z-index: 2;
  position: relative;
}
.customer_review .box > div > .reviewimage > img:nth-of-type(2) {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: -30px;
}
.customer_review .box > div > p:nth-of-type(1) {
  margin-top: 60px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #EB662B;
}
.customer_review .box > div > div:nth-of-type(2) {
  box-sizing: border-box;
}
.customer_review .box > div > div:nth-of-type(2) > p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.customer_review .box > div > div:nth-of-type(3) {
  margin-top: 28.5px;
  box-sizing: border-box;
}
.customer_review .box > div > div:nth-of-type(3) > p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.customer_review .box > div > div:nth-of-type(4) {
  margin-top: 2.6px;
  box-sizing: border-box;
}
.customer_review .box > div > div:nth-of-type(4) > p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}
.customer_review .box > div > div:nth-of-type(5) {
  width: 100%;
  display: flex;
  gap: 8px;
  margin-top: 77px;
  height: auto;
  justify-content: center;
}
.customer_review .box > div > div:nth-of-type(5) > div:nth-of-type(1) {
  width: 18px;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}
.customer_review .box > div > div:nth-of-type(5) > div:nth-of-type(2) {
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}
.customer_review .box > div > div:nth-of-type(5) > div:nth-of-type(3) {
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}
.customer_review .box > div > div:nth-of-type(5) > div:nth-of-type(4) {
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}
.customer_review .box > div > div:nth-of-type(5) > div:nth-of-type(5) {
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: black;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 60px;
}

.nav > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav > div:nth-child(1) img {
  height: 32px;
  width: 167px;
}

.nav > div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 53px;
}

.nav > div:nth-child(2) button {
  background: transparent;
}

.nav > div:nth-child(2) > div:nth-child(3) button {
  border: none;
}

.nav > div:nth-child(2) > div:nth-child(4) button {
  padding: 12px 19px;
  border-radius: 30px 30px;
}

.nav {
  background-color: white;
}

@media (min-width: 1320px) {
  .nav {
    max-width: 1320px;
    margin: auto;
  }
  #container_1 {
    max-width: 1320px;
    margin: auto;
  }
}
@media (min-width: 1320px) {
  #container_1 {
    max-width: 1320px;
    margin: auto;
  }
}
@media (min-width: 1920px) {
  #container_1 {
    max-width: 1320px;
    margin: auto;
  }
}
/* next container */
#container_1 {
  width: 1320px;
  height: 640px;
  left: 0px;
  top: 88px;
}

#nav2 {
  display: flex;
  justify-content: space-between;
  width: 1230px;
  height: 80px;
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 10px;
  padding: 10px, 10px, 10px, 10px;
  border-radius: 22px;
  border: 1px solid wheat;
  border-radius: 15px;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 2300px;
  height: 60px;
  margin-top: 10px;
  left: 10px;
  margin-left: 20px;
  padding: 5px, 10px, 5px, 10px;
}

.where {
  display: flex;
  align-items: center;
  top: 10px;
  left: 10px;
  padding: 5px, 10px, 10px, 10px;
}

.btn {
  background-color: #eb662b;
  color: white;
  width: 536.95px;
  height: 60px;
  top: 10px;
  left: 1143.05px;
  padding: 20px, 30.8px, 20px, 31px;
  border-radius: 12px;
  border: none;
  margin-top: 10px;
  margin-left: 300px;
  margin-right: 20px;
}

.square {
  width: 40px;
  height: 40px;
  padding: 13px, 12.8px, 13px, 13px;
  position: relative;
  border-radius: 20px;
  background-color: #fef7f4;
}

/* lower part1 */
.section1 {
  display: flex;
  margin-left: 40px;
}

.section_1 {
  display: flex;
  background-color: #ec662a;
  position: relative;
  padding-left: 20px;
}

.square1 {
  width: 40px;
  height: 40px;
  top: 220px;
  left: 1px;
  padding: 13px, 12.8px, 13px, 13px;
  position: relative;
  border-radius: 50%;
  background-color: #fef7f4;
}

.grab {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.btn2 {
  width: 166.86px;
  height: 62px;
  top: 322.13px;
  left: 150px;
  padding: 21px, 35.8px, 21px, 36px;
  border-radius: 12px;
  border: none;
}

.square2 {
  position: relative;
  width: 40px;
  height: 40px;
  left: 550px;
  border-radius: 50%;
  background-color: #fef7f4;
  top: 220px;
}

.section_2 {
  background-image: url(images/image.png);
  width: 630px;
  height: 500px;
  position: relative;
}


body {
  margin: 50px;
}

.figma {
  font-weight: 151.72px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.offers > div {
  justify-content: space-between;
  display: flex;
}

.Discount {
  display: flex;
  margin: 10px;
  gap: 50px;
}
.Discount > div:nth-child(1) {
  display: flex;
  gap: 10px;
}
.Discount > div:nth-child(1) > div > p:nth-child(1) {
  color: orangered;
}
.Discount > div:nth-child(2) {
  display: flex;
  gap: 10px;
}
.Discount > div:nth-child(2) > div > p:nth-child(1) {
  color: orangered;
}
.Discount > div:nth-child(3) {
  display: flex;
  gap: 10px;
}
.Discount > div:nth-child(3) > div > p:nth-child(1) {
  color: orangered;
}
.Discount > div:nth-child(4) {
  display: flex;
  gap: 10px;
}
.Discount > div:nth-child(4) > div > p:nth-child(1) {
  color: orangered;
}/*# sourceMappingURL=styles.css.map */